.container {
    font-family: 'Poppins', sans-serif;
    width: auto;
    
}

/*Page 1*/
header img { 
    max-height: 130px;
    padding-top: 110px;
    padding-left: 50px;
}

.info h1 {
    font-weight: 200;
    font-size: 26px;
    color: #2F4944;
    padding-left: 50px;
    display: inline-block;
}

.info li {
    display:inline-block;
    text-align: center;
    padding-right: 30px;
    color: #2F4944;
}
.info img {
    display:inline-block;
    max-height: 130px;
}
.info p{
    margin-top: -5px; 
    margin-bottom: 50px;
}
#videogrp {
    float: right;
    margin-top: -520px;
    margin-right: 50px;
    z-index: -1;
    position: relative;
}
#video {
    margin-top: -20px;  
}
.download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.download #buttons {
    text-align: center;
    clear: both;
}
.download img {
    max-height: 60px;
    margin-top: -45px;
    display: inline-block;
}
.arrow i {
    font-size: 60px;
    margin-top: -20px;
    padding-bottom: 10px;
}
i:hover {
    color: #57c1a7;
}
#phone {
    display:none;
}
/*Page 1 Ends*/

/*Page 2*/
#page2 {
    text-align: center;
}

#about {
    padding-top: 200px;
    display: inline-block;
}
#about h3 {
    max-width: 350px;
    display: inline-block;
    float: left;
    color: #2F4944;
    font-weight: 400;
    padding-top: 60px;
    text-align: left;
}
#about img {
    max-height: 550px;
    margin-top: -150px;
    float: right;
    display: inline-block;
    
}
#navigation {
}
i {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    color: #ccc;
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: -70px;
}    
#container-footer {
    text-align: center;
    color: #2F4944;
    margin-top: 20px;
}
#container-footer h5 {
    text-align: center;
    font-size: 10px;
    color: #2F4944;
}
#container-footer p{
    text-align: center;
    font-size: 12px;
    color: #2F4944;
}
#container-footer p:hover {
    color: #57c1a7; 
}
/*Page 2 Ends*/
@media screen and (max-width: 479px) {
   /* .info {
        display: none;
    }*/
    
}


@media screen and (min-device-width: 480px) and (max-width: 768px) {
    body {
    text-align: center;
    }
    header img {
    margin-top: -110px;
    max-height: 80px;       
    padding-left: 0px;
    text-align: center;
    }
    .info{
    margin-left:0px;
    padding-left:0px;
    margin-right:0px;
    padding-right:0px;
    display:normal;
    text-align: center;
    }
    .info h1 {
    font-size: 15px;
    margin-left:0px;
    padding-left:0px;
    margin-right:0px;
    padding-right:0px;
    }
    .info li {
    text-align: center;
    }
    .info img {
    max-width: 40px;
    margin-top: -20px;
    padding-right:10px;
    display:inline-block;
    }
    .info p{
    margin-top: -5px; 
    font-size: 9px;
    margin-bottom: 0px;   
    }
    #videogrp {
    display: none;
    }
    .download {
    background-color: #2F4944;
    color: white;
    margin-top: -60px;
    text-align: center;
    }
    .download #buttons {
    text-align: center;
    background-color: #2F4944;
    margin-top:0px;
    display: normal;
    padding-top:30px;
    }
    .download img {
    max-height: 40px;
    margin-top: -500px;
    display: normal;
    }
    #about {
    padding-top: 200px;
    text-align: center;
    display: normal;
    }
    #about h3 {
    text-align: center;
    font-size: 10px;
    display: normal;
    margin-top: -30px;
    }
    #about img {
    max-width: 200px;
    margin-top: -130px;
    }
    #phone {
    display: inline-block;
    text-align: center;
    z-index: -1;
    position: relative;
    }
    #phone img {
    max-height: 470px;
    margin-top: -10px;
    }
    }


@media screen and (min-width: 767px) and (max-width:899px) {
header img { 
    max-height: 100px;
    padding-top: 180px;
    padding-left: 40px;
}
.info h1 {
    font-weight: 200;
    font-size: 18px;
    color: #2F4944;
    padding-left: 40px;
    display: inline-block;
}
.info li {
    display:inline-block;
    text-align: center;
    padding-right: 30px;
    color: #2F4944;
}
.info img {
    display:inline-block;
    max-height: 80px;
}
.info p{
    margin-top: -5px; 
    margin-bottom: 100px;
}
#videogrp {
    float: right;
    position: relative;
    margin-top:-520px;
    margin-left: 600px;
}
#video {  
}
.download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.download #buttons {
    text-align: center;
    clear: both;
    padding-top: -95px;
}
.download img {
    max-height: 60px;
    margin-top: -45px;
    display: inline-block;
}
.arrow i {
    font-size: 60px;
    margin-top: -20px;
    padding-bottom: 10px;
}
#about h3 {
    max-width: 350px;
    display: inline-block;
    float: left;
    color: #2F4944;
    font-weight: 400;
    padding-top: 60px;
    text-align: left;
    font-size: 16px;
}
#about img {
    max-height: 550px;
    margin-top: -150px;
    float: right;
    display: inline-block;
    
}
}
 









