.container {
    font-family: 'Poppins', sans-serif;
    width: auto;
    
}

/*Page 1*/
header img { 
    max-height: 130px;
    padding-top: 110px;
    padding-left: 50px;
}

.info h1 {
    font-weight: 200;
    font-size: 28px;
    color: #2F4944;
    padding-left: 50px;
    display: inline-block;
}

.info li {
    display:inline-block;
    text-align: center;
    padding-right: 30px;
    color: #2F4944;
}
.info img {
    display:inline-block;
    max-height: 130px;
}
.info p{
    margin-top: -5px; 
}
/*.phone img {
    max-height: 600px;
    float: right;
    margin-top: -530px;
    padding-right: 50px;
    z-index: -1;
    position: relative;
}*/
#videogrp {
    float: right;
    margin-top: -490px;
    margin-right:50px;
    z-index: -1;
    max-height: 1000px;
    position: relative;
}
#video {
    margin-top: -20px;  
}
.download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.download h3{
    text-align: center;
    margin-top: 15px;
    font-weight: 200;
    z-index: 1;
    clear: both;
    padding-top: -50px;
    display: inline-block;
    margin-left: 380px;
}
.download #buttons {
    text-align: center;
    clear: both;
}
.download img {
    max-height: 60px;
    margin-top: -15px;
    display: inline-block;
}
.arrow i {
    font-size: 60px;
    margin-top: -20px;
    padding-bottom: 10px;
}
i:hover {
    color: #57c1a7;
}
i:active {
    color: #57c1a7;  
}
/*Page 1 Ends*/


/*Page 2*/
#page2 {
    text-align: center;
}

#about {
    padding-top: 200px;
    display: inline-block;
}
#about h3 {
    max-width: 350px;
    display: inline-block;
    float: left;
    color: #2F4944;
    font-weight: 400;
    padding-top: 100px;
    text-align: left;
}
#about img {
    max-height: 550px;
    margin-top: -150px;
    float: right;
    display: inline-block;
    
}
#navigation {
}
i {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    color: #ccc;
    margin-top: 20px;
    font-size: 40px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #2F4944;
    padding-top: 10px;
}
/*Page 2 Ends*/

@media screen and (max-width: 690px) {
    header {
        text-align: center;
        padding-top: 10px;
        margin-top:-180px;
        margin-left: 0px;
    }
    header img {
        padding-top: -160px;
        max-height: 20px;
    }
    #page1 {
        text-align: center;
    }
    .phone {
        text-align: center;
        font-size: 15px;
        max-height: 200px;
    }
    .phone img {
    max-height: 200px;    
    text-align: center;
    z-index: 0px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -500px;
    }
    .info h1 {
    font-weight: 200;
    font-size: 15px;
    color: #2F4944;
    display: inline-block;
    margin-bottom: -40px;
    }
    .info li {
    display:inline-block;
    text-align: center;
    padding-right: 30px;
    color: #2F4944;
    }
    .info img {
    display:inline-block;
    max-height: 50px;
    }
    .info p{
    margin-top: -5px; 
    font-size: 13px;
    margin-bottom: 340px;
    }
    .download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
    }
    .download h3{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    font-weight: 200;
    z-index: 1;
    clear: both;
    padding-top: -50px;
    display: inline-block;
    margin-left: 0px;
    }
    .download #buttons {
    text-align: center;
    clear: both;
    }
    .download img {
    max-height: 50px;
    margin-top: -15px;
    display: inline-block;
    }
    #about {
    padding-top: 200px;
    text-align: center;
    }
    #about h3 {
    max-width: 350px;
    color: #2F4944;
    font-weight: 400;
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: 15px;
    }
    #about img {
    max-height: 400px;
    margin-top: -150px;
    text-align: center;
    
}
}


@media screen and (max-width: 900px) {
header img { 
    max-height: 70px;
    padding-top: 180px;
    padding-left: 50px;
}
.info h1 {
    font-weight: 200;
    font-size: 18px;
    color: #2F4944;
    padding-left: 50px;
    display: inline-block;
}
.info li {
    display:inline-block;
    text-align: center;
    padding-right: 30px;
    color: #2F4944;
}
.info img {
    display:inline-block;
    max-height: 80px;
}
.info p{
    margin-top: -5px; 
}
.phone img {
    max-height: 500px;
    float: right;
    margin-top: -440px;
    padding-right: 50px;
    z-index: -1;
    position: relative;
}
.download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.download h3{
    text-align: center;
    margin-top: 15px;
    font-weight: 200;
    z-index: 1;
    clear: both;
    padding-top: -50px;
    display: inline-block;
    margin-left: 150px;
}
.download #buttons {
    text-align: center;
    clear: both;
}
.download img {
    max-height: 60px;
    margin-top: -15px;
    display: inline-block;
}
.arrow i {
    font-size: 60px;
    margin-top: -20px;
    padding-bottom: 10px;
}
}
 









