.container {
    font-family: 'Poppins', sans-serif;
    width: auto;
    
}

/*Page 1*/
header img { 
    max-height: 130px;
    padding-top: 110px;
    padding-left: 50px;
}

.info h1 {
    font-weight: 200;
    font-size: 26px;
    color: #2F4944;
    padding-left: 50px;
    display: inline-block;
}

.info li {
    display:inline-block;
    text-align: center;
    padding-right: 30px;
    color: #2F4944;
}
.info img {
    display:inline-block;
    max-height: 130px;
}
.info p{
    margin-top: -5px; 
    margin-bottom: 50px;
}
#videogrp {
    float: right;
    margin-top: -520px;
    margin-right: 50px;
    z-index: -1;
    position: relative;
}
#video {
    margin-top: -20px;  
}
.download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.download #buttons {
    text-align: center;
    clear: both;
}
.download img {
    max-height: 60px;
    margin-top: -45px;
    display: inline-block;
}
.arrow i {
    font-size: 60px;
    margin-top: -20px;
    padding-bottom: 10px;
}
i:hover {
    color: #57c1a7;
}
i:active {
    color: #57c1a7;
}
i:visited {
    color: #57c1a7;  
}
.a i:hover { 
    color: #57c1a7;
}
.a i:active{ 
    color: #57c1a7;
}
.a i:visited{ 
    color: #57c1a7;
}
#phone {
    display:none;
}
/*Page 1 Ends*/


/*Page 2*/
#page2 {
    text-align: center;
}

#about {
    padding-top: 200px;
    display: inline-block;
}
#about h3 {
    max-width: 350px;
    display: inline-block;
    float: left;
    color: #2F4944;
    font-weight: 400;
    padding-top: 60px;
    text-align: left;
}
#about img {
    max-height: 550px;
    margin-top: -150px;
    float: right;
    display: inline-block;
    
}
#navigation {
}
i {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    color: #ccc;
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: -70px;
}    
#container-footer {
    text-align: center;
    color: #2F4944;
    margin-top:-20px;
}
#container-footer p {
    text-align: center;
    font-size: 10px;
    color: #2F4944;
}
#container-footer .arrow-up {
    font-size: 50px;
    margin-bottom:-30px;
    color: slategray;
}
/*Page 2 Ends*/

@media screen and (max-width: 720px) {
    body {
    text-align: center;
    }
    header {
    text-align: center;
    margin-top: -150px;
    display: normal;
    }
    header img {
    max-height: 40px;       
    text-align: center;
    }
    #page1 {
    text-align: center;
    }
    .info {
    margin-left: -20px;
    margin-right: -20px;
    }
    .info h1 {
    font-weight: 200;
    font-size: 12px;
    color: #2F4944;
    }
    .info li {
    text-align: center;
    padding-right: 0px;
    color: #2F4944;
    }
    .info img {
    display:inline-block;
    max-height: 6px;
    margin-top: -20px;
    }
    .info p{
    margin-top: -5px; 
    font-size: 12px;
    margin-bottom: 0px;   
    }
    #videogrp {
    display: none;
    }
    .download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
    max-height: 1000px;
    }
    .download h3{
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
    font-weight: 200;
    z-index: 1;
    clear: both;
    padding-top: -50px;
    display: inline-block;
    margin-left: 0px;
    }
    .download #buttons {
    text-align: center;
    background-color: #2F4944;
    }
    .download img {
    max-height: 50px;
    margin-top: 0px;
    display: inline-block;
    }
    #about {
    padding-top: 200px;
    text-align: center;
    }
    #about h3 {
    max-width: 350px;
    color: #2F4944;
    font-weight: 400;
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: 15px;
    }
    #about img {
    max-height: 400px;
    margin-top: -150px;
    text-align: center;
    }
    #phone {
    display: inline-block;
    text-align: center;
    }
    #phone img {
    max-height: 500px;
    margin-top: 0px;
    }
    #about {
    text-align: center;
    }
    #about h3 {
    max-width: 350px;
    float: none;
    color: #2F4944;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
    }
    #about img {
    text-align: center;
    max-height: 300px;
    float: none;
    display: inline-block;
    }
    }


@media screen and (max-width: 900px) {
header img { 
    max-height: 100px;
    padding-top: 180px;
    padding-left: 40px;
}
.info h1 {
    font-weight: 200;
    font-size: 18px;
    color: #2F4944;
    padding-left: 40px;
    display: inline-block;
}
.info li {
    display:inline-block;
    text-align: center;
    padding-right: 30px;
    color: #2F4944;
}
.info img {
    display:inline-block;
    max-height: 80px;
}
.info p{
    margin-top: -5px; 
    margin-bottom: 100px;
}
#videogrp {
    float: right;
    position: relative;
    margin-top:-520px;
    margin-left: 600px;
}
#video {  
}
.download {
    background-color: #2F4944;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.download #buttons {
    text-align: center;
    clear: both;
    padding-top: -95px;
}
.download img {
    max-height: 60px;
    margin-top: -45px;
    display: inline-block;
}
.arrow i {
    font-size: 60px;
    margin-top: -20px;
    padding-bottom: 10px;
}
#about h3 {
    max-width: 350px;
    display: inline-block;
    float: left;
    color: #2F4944;
    font-weight: 400;
    padding-top: 60px;
    text-align: left;
    font-size: 16px;
}
#about img {
    max-height: 550px;
    margin-top: -150px;
    float: right;
    display: inline-block;
    
}
}
 









